@typeparam TModel
@using Microsoft.AspNetCore.Components.Forms

<CascadingValue Value="this">
    <CascadingValue Value="EditContext">

        <div class="flex flex-col items-center">
            
            @ChildContent

            <div class="mt-6 flex w-full max-w-lg justify-between">
                    <button type="button"
                        class="cursor-pointer rounded border px-4 @(CurrentStep != 0 ? "" : "none ") py-2"
                            disabled="@(CurrentStep == 0)"
                            @onclick="Prev">
                        Atrás
                    </button>

                <button type="button"
                        class="bg-primary cursor-pointer rounded px-4 py-2 text-white"
                        @onclick="Next">
                    @(CurrentStep == Steps.Count-1 ? FinishText : "Siguiente")
                </button>

            </div>

        </div>

    </CascadingValue>
</CascadingValue>

@code {
    [Parameter, EditorRequired]
    public EventCallback OnFinish { get; set; }

    [Parameter, EditorRequired]
    public string FinishText { get; set; }

    [CascadingParameter]
    EditContext EditContext { get; set; }

    public Func<Task<bool>>? OnNext;

    internal List<StepItem> Steps = new();

    public int CurrentStep { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    internal int Register(StepItem step)
    {
        Steps.Add(step);
        return Steps.Count - 1;
    }
    public void GoToStep(int stepIndex)
    {
        if (stepIndex < 0 || stepIndex >= Steps.Count)
            throw new ArgumentOutOfRangeException(nameof(stepIndex));
        CurrentStep = stepIndex;
    }
    public async Task Next()
    {
        var step = Steps[CurrentStep];

        if (!ValidateStep(step))
            return;

        if (CurrentStep == Steps.Count - 1)
        {
            if (OnFinish.HasDelegate)
                await OnFinish.InvokeAsync();
            return;
        }

        if (OnNext != null)
        {
            var result = await OnNext.Invoke();

            if (!result)
                return;
        }

        if (CurrentStep < Steps.Count - 1)
            CurrentStep++;
    }


    bool ValidateStep(StepItem step)
    {
        var isValid = true;

        foreach (var field in step.Fields)
        {
            var identifier = new FieldIdentifier(EditContext.Model, field);

            EditContext.NotifyFieldChanged(identifier);

            if (EditContext.GetValidationMessages(identifier).Any())
                isValid = false;
        }

        EditContext.NotifyValidationStateChanged();

        return isValid;
    }

    void Prev()
    {
        if (CurrentStep > 0)
            CurrentStep--;
    }

    internal class StepItem
    {
        public string Title { get; set; }

        public List<string> Fields { get; set; } = new();
    }

}
